*{
    background-color: black;
    color: white;
    font-family: Geneva, Verdana, sans-serif;
}
img{
    padding: 10px;
}
.text
{
    font-size: 120px;
}
.content
{
    text-transform: uppercase;
    font-size:45px;
}
.sub-content
{
    text-transform: uppercase;
    font-size: small;
    text-align: justify;
    padding-left: 500px;
  
}
.list{
   
   font-size: 30px;
margin-left: 900px;
  margin-top: -200px;
 font-size: 20px;
 list-style: none;
}
img.drawer
{
    float: right;
    height: 50px;
    width: 50px;
}
